body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#chart {
    margin: 20px auto;
    width: 800px;
}

#chart-reasons{
    margin-bottom: 0;
}

#tooltip1{
    margin-bottom: 10px;
}

.bar {
    cursor: pointer;
}

.tooltip, .tooltip1 {
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 5px;
    pointer-events: none;
}

.hidden {
    display: none;
}